.root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%; 
    overflow: hidden; 
  
}

.fcard{
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    margin-top: 2em;
   
    background-color: #FFFFFF;
    
  
}
.scard{ 
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color:#000000; 
    overflow: hidden; 
}
.header{
    margin-top: 0px;

    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
  
}
.headername{
    align-self: start;
}
.breadcrumbs{
   margin-left: 10px;
    align-self: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-column-gap: 2em;
}
.button{  
    margin: 2em 0em 0em  7em;
   background-color: #2AB7CA;
   color:#FFFFFF;
   width:180px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #2AB7CA ;
}
.headerbutton{  
    background-color: #2AB7CA;
    color:#000000;
    width:180px;
    height: 40px;
    align-self: end;
    border: 1px solid #2AB7CA ;
 }
.buttons{
   margin-top: 30px;
   width: 400px;
}
.svg{
    align-self: center;
    width: 60vw;
    height: 75%;
    
}
.title{
    margin: 1em 0em 0em 2em;
   
    font-size: 4em;
}
.subtitle{
    margin: 1em 0em 0em  4em;
    font-weight: 350;
    font-size: 2em;
}