.root{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fcard{
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color:#1A1A1F; 
}
.scard{
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}
.button{
   background-color: #50E5FE;
}
.svg{
    align-self: center;
    width: 45vw;
    height: 95vh;
}