.root{
    display: flex;
    flex-direction: row; 
     background-color: #f0f5f9;
}

.fcard{
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content:space-around;
    //margin-top: 2em;
    //background-color: var(--white);  
}
.scard{ 
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);   
}
.svg{
    align-self: center;
    width: 40vw;
    height: 55%;  
    margin-top: 5em; 
}
.button{  
   margin-top: 1em;
   background-color: var(--secondary);
   color:#FFFFFF;
   width:180px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid var(--secondary) ;
}
.svg2{
    align-self: center;
    width: 50vw;
    height: 85%;  
    //margin-top: 5em; 
}
.title{
    font-family: 'Barlow', sans-serif; 
    font-size: 4em;
    //font-family: 'ALeo',serif;
    font-weight:  700;
}
.subtitle{
   // font-family: 'Barlow Condensed', sans-serif; 
   font-family: 'Commissioner', sans-serif;
    font-weight: 300;
    font-size: 2em;
   
}
.textdiv{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0em 0em 5em; 
    align-self: flex-start;
}
.nextpage{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color:#C9D6DF;
}
.textdiv2{
    align-self: flex-end;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5em 3em 0em 1em; 
    align-self: flex-start;
}
.title2{
    font-family: 'Barlow', sans-serif; 
    font-size: 3.5em;
    font-weight:  600;
}
.subtitle2{
    width: 35vw;
    font-weight: 350;
    font-size: 2em;
    font-family: 'Commissioner', sans-serif;
}
.title3{
    font-family: 'Barlow', sans-serif; 
    color:var(--white);
    font-size: 3.5em;
    font-weight:  600;
}
.subtitle3{
    color:var(--white);
    font-weight: 400;
    font-size: 2.5em;
    //width: 80vh;
    font-family: 'Barlow Condensed', sans-serif; 
}
.missionpg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#00162A;
    padding-bottom: 3em;
}
.textdiv3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 3em 0em 2em 0em; 
    color:var(--white);
}
@media (max-width: 768px) {
    .svg{
        align-self: flex-end;
        width: 50vw;
        height: 55%;  
        margin-top: 2em;
        margin-right: 1em; 
    }
    
    .svg2{
        align-self: flex-start;
        width: 50vw;
        height: 85%;  
        //margin-top: 5em; 
    }
    .title{
        
        font-size: 2.5em;
        font-weight:  600;
    }
    .subtitle{
       
        font-weight: 350;
        font-size: 1.2em;
       
    }
    .textdiv{
    
        height: auto;
        margin: 1em 0em 1em 2em; 
        
    }
    .textdiv2{
        width: auto;
        margin: 5em 0em 0em 4em;     
    }
    .subtitle2{
        height: auto;
        font-weight: 350;
        font-size: 1.8em;
       
    }
    .title3{
        font-weight: 400;
        font-size: 2.5em;
    }
    .subtitle3{
        width: 80vw;
        font-weight: 350;
        font-size: 1.2em;
        align-self: center;
    }


}

@media (max-width: 425px) {
    .root{
        flex-direction:column;   
    }
    
    .fcard{
        width: 100vw;
       height: auto;
        //margin-top: 2em;
      //  background-color: var(--white);  
    }
    .scard{ 
        width: 100vw;
        justify-content: flex-start;
        
    }
    .svg{
        align-self: flex-start;
        width: 80vw;
        height: 75%;  
       
    }
    .title{
        margin: 0.5em 0em 0.3em 0em;  
        font-size: 3.5em;
        //font-family: 'ALeo',serif;
        font-weight:  700;
    }
    .subtitle{
        margin: 0em 1em 1em  0em;
        font-weight: 300;
        font-size: 1.5em;
        //font-family:'Amiko', sans-serif;  
    }
    .nextpage{
        flex-direction: column;
        height: auto;
    }
    .textdiv2{
        width: auto;
        margin: 2em 0em 0em 1em;     
    }
    .svg2{
        align-self: flex-start;
        width: 80vw;
        height: 75%;
        margin: 2em 0em 2em 1em;   

    }
    .subtitle2{
        height: auto;
        font-weight: 350;
        font-size: 1.5em;
        padding-right: 1em;
        width: auto;    
    }
    .subtitle3{
        width: auto;
        font-weight: 350;
        font-size: 1.2em;
        align-self: center;
    }

}