$imagedir: '../public';

@mixin background-image($img,$background-color,$background-size, $background-position) {
 background-image: url('#{$imagedir}/#{$img}');
 background-repeat: no-repeat;
 background-position: $background-position;
 background-size: $background-size;
 background-color: $background-color;
}
 .root{
    display: flex;
    flex-direction: column;
       
   }
   .fpage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    background-color: var(--lightblue);
   // @include background-image('features-transparent-min.png',#f1f8f5,contain,left )
   }
   .grid{
     //  margin-top:100px;
       width: 80vw;
       height: 80vh;
      
   }
   .titlediv{
       align-self: center;
   }
   .title{
      align-self: center;
      font-size: 4em;
      font-weight: 700;
      color: #06474e;
      font-family: 'Barlow', sans-serif; 
      text-align: center;
   }
   .subtitle{
    align-self: center;
    font-size: 2em;
    font-weight: 400; 
    padding-right: 2em;
    width: 45vw;
    color: #265257;
    font-family: 'Barlow Condensed', sans-serif; 
    text-align: center;
   }
   .spage{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    height: auto;
   // background-color: var(--black);
     background-color:#ffffff;//#d8e8ea ;
    //background-image: linear-gradient(to right bottom, rgba(5, 5, 5, 0.7), rgb(192,192,192));
    padding: 1em 0em 4em 0em;
   
   }
   .svg{
    margin: 1em 0em 1em 3em;
    width: 300px;
    height: 300px; 
}
   .grid{
       align-self:center ;
    width: 80vw;
    height: auto;
}
.svg{
    width: 100vw;
}
.intro{
    align-self: center;
    padding: 1em;
    font-size: 3em;
    font-weight: 600;
    color:#044e6d;
    font-family: 'Barlow Condensed', sans-serif; 
   //color: #eeebdd;
   }
   .introsubtitle{
    font-size: 1em;
    font-weight: 300;
   }
 
   @media (max-width: 768px) {
    .titlediv{
        align-self: center;
        margin-left: 3em;
    }
    .title{
        align-self: center;
        font-size: 3em;
        font-weight: 600;
  
     }
     .subtitle{
      align-self: center;
      font-size: 2em;
      font-weight: 300; 
      padding-right: 1em;
      width: 55vw;
     
     }
     .intro{
        padding: 1em;
        font-size: 2.5em;
       }
     
   }

@media (max-width: 425px) {
    .fpage{
       // justify-content: flex-end;
       // @include background-image('features-transparent.png',#f6f9fc,cover,left )
    }
    .spage{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 1em 0em 4em 0em;
       
       }
  
      .title{
       font-size: 3em;
       margin-right: 0.5em;
       font-weight: 700;
       color: #007580;
      }
      .grid{
          width: 100vw;
          height: auto;
      }
      .intro{
        padding: 1em;
        font-size: 2em;
        color:#11698e;
        font-weight: 600;
       }
       .titlediv{
        align-self: flex-end;
        margin-left: 0em;
    }
}