$imagedir: '../public';

@mixin background-image($img,$background-color, $background-position) {
 background-image: url('#{$imagedir}/#{$img}');
 background-repeat: no-repeat;
 background-position: $background-position;
 background-size:cover;
 background-color: $background-color;
}
 .root{
    display: flex;
    flex-direction: column;
       
   }
   .fpage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: flex-end;
    @include background-image('features.jpg',#ffffff,left )
   }
   .grid{
     //  margin-top:100px;
       width: 80vw;
       height: 80vh;
      
   }
   .title{
      align-self: center;
       width: 55vw;
   }
   .spage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
   // background-color: var(--black);
     background-color: #f6f7d7;
    padding: 1em 0em 4em 0em;
   
   }
   .grid{
    width: 80vw;
    height: auto;
}
.svg{
    width: 100vw;
}
.intro{
    padding: 1em;
    font-size: 3em;
   }
 
@media (max-width: 600px) {
    .fpage{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100vh;
    }
    .spage{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 1em 0em 4em 0em;
       
       }
  
      .title{
          padding-left: 0em;
          width: 100vw;
      }
      .grid{
          width: 100vw;
          height: auto;
      }
      .intro{
        padding: 1em;
        font-size: 2em;
       }
}