@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sumana:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500;600;700&family=Barlow:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

.primary-font {
  font-family: 'Barlow', sans-serif;
}

.secondary-font {
  font-family: 'Amiko', sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,Barlow,Amiko sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --blue: #101a13;
  --secondary: #1890FF;
  --black:#000000;
  --lightblue: #f0f5ff;
}
$colors: 'white', 'primary', 'secondary';

@each $color in $colors {
  .#{$color}-color {
      color: var(--#{$color}) !important;
  }
}
