.root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%; 
  
  
}

.fcard{
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    margin-top: 2em;
    background-color: var(--white);
    
  
}
.scard{ 
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color:var(--black); 
 
}
.header{
    margin-top: 0px;
    color: #000000;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
   
}
.logo{
  width:30px;
  height:30px;
  position:relative
}
.headerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.headername{
    align-self: start;
}
.breakingword{
  display: flex;
  flex-direction: row;
  color: #000000; 
}
.flinks{
    color: #000000;  
}
.shalfword{
    margin-left: 2px;
    color: #FFFFFF;
}
.breadcrumbs{

    align-self: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-column-gap: 2em;
}
.button{  
    margin: 2em 0em 0em  7em;
   background-color: var(--secondary);
   color:#FFFFFF;
   width:180px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid var(--secondary) ;
}
.headerbutton{  
    background-color: var(--secondary);
    color:#000000;
    width:170px;
    height: 40px;
    align-self: end;
    border: 1px solid var(--secondary) ;
 }
.buttons{
   margin-top: 30px;
   width: 400px;
}
.svg{
    align-self: center;
    width: 60vw;
    height: 75%;
    
}
.title{
    margin: 1em 0em 0em 2em;
   
    font-size: 4em;
}
.subtitle{
    margin: 1em 0em 0em  4em;
    font-weight: 350;
    font-size: 2em;
}

@media (max-width: 1055px) {
    .title{
        margin: 1em 0em 0em 1em;
        font-size: 3em;
    }
    .subtitle{
        margin: 1em 0em 0em  2em;
        font-weight: 300;
        font-size: 1.5em;
    }
    .button{  
        margin: 2em 0em 0em  3em;
    }
    .svg{
        align-self: start;
        width: 60vw;
        height: 55%;     
    }
    .breakingword{
       
        color: #FFFFFF;
      }
      .shalfword{
          margin-left: 0;
        
      }
      .headerbutton{
          width: 100px;
          height: auto;
      }
    
}
@media (max-width: 600px) {
    .root{
        flex-direction: column;
        background-color: #000000;
    }
    .fcard{
        width:100vw;
        height: auto;
        margin-top: 1em;
        background-color: #000000;
    }
    .scard{
        width: 100vw;
        height: auto;   
    }
    .header{
        justify-content: space-between;
        padding: 0em 2em 0em 2em;
        color: #FFFFFF;
    }
    .title{
     margin: 0.5em 0em 0em 0em;    
    align-self: center;
    font-size: 2.5em;
    color: #FFFFFF;
    }
    .subtitle{
        margin: 1em 0em 1em  0em;
        font-weight: 300;
        font-size: 1.5em;
        align-self: center;
        color: #FFFFFF;
    }
    .button{  
        margin: 1em 0em 1.5em  0em;
        align-self: center;
    }
    .headername{
        font-size: 1.5em;
        color: #FFFFFF;
    }
    .blackicon{
        font-size: 1.5em;
        color: #000000;
    }
    .svg{
        align-self: center;
        width: 65vw;
        height: 50%;     
    }

}