.bod{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;  
}
.root{
    display: flex;
    flex-direction: row;
  
    
}

.fcard{
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    //margin-top: 2em;
    background-color: var(--white);  
}
.scard{ 
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);  
 
}
.header{
   padding: 1em 0em 1em 0em;
    color: var(--black);
    width: 100vw;
    display: flex;
    flex-direction: row;
     justify-content: space-around;
    z-index: 1;  
   
}
.scrolheader{
    margin-top: 10px;
    color:var(--white); 
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;  
    position: fixed; 
    border: 1px solid var(--secondary) ;
}
.logo{
  display: flex;
  flex-direction: row;
  width:87px;
  height:40px; 
}
.headerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
.headername{
    align-self: start;
    font-weight: 600;
    font-family: Amiko, sans-serif;
}
.breakingword{
  display: flex;
  flex-direction: row;
  color: #000000; 
}
.flinks{
    font-family: Amiko, sans-serif;
    font-weight: 600;
    color: #000000;  
}
.shalfword{
    font-family: Amiko, sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    &:hover{
        color: var(--secondary);
    }
}
.breadcrumbs{
   align-self: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-column-gap: 1em;
}
.button{  
    margin: 2em 0em 0em  7em;
   background-color: var(--secondary);
   color:#FFFFFF;
   width:180px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid var(--secondary) ;
}
.headerbutton{  
    background-color: var(--secondary);
    color:#000000;
    width:170px;
    height: 40px;
    align-self: end;
    border: 1px solid var(--secondary) ;
 }
.buttons{
   margin-top: 30px;
   width: 400px;
}
.svg{
    align-self: center;
    width: 40vw;
    height: 65%;  
    margin-top: 0%; 
}
.othersvgs{
   // align-self: center;
  margin-top: 40px;
   // margin-right: 40px;
   align-self: center;
   width: 45vw;
    height: 60%;
}
.title{
    margin: 1em 0em 0em 2em;  
    font-size: 4em;
    font-family: Amiko, sans-serif;
    font-weight: 700;
}
.subtitle{
    margin: 1em 0em 0em  4em;
    font-weight: 300;
    font-size: 2em;
    font-family:'Segoe UI', sans-serif;
}
.secondpage{
    display: flex;
    flex-direction: row;
    height:auto;
    width:100vw
    // background-color: #f8f8f8;
    // padding-bottom: 10em;
    // padding-top: 3em;
}
.whattext{
    display: flex;
    flex-direction: column;
    justify-content: center;
 align-Items: center;

}
.othertitle{
    color:#070404;
    font-size: 2.5em;
    font-family: Amiko, sans-serif;
    font-weight: 600;
}
.othersubtitle{
    color:#000000;
    font-size: 1.5em;  
    font-family:'Segoe UI', sans-serif;  
}

@media (max-width: 1055px) {
    .title{
        margin: 1em 0em 0em 1em;
        font-size: 3em;
    }
    .subtitle{
        margin: 1em 0em 0em  2em;
        font-weight: 300;
        font-size: 1.5em;
    }
    .button{  
        margin: 2em 0em 0em  3em;
    }
    .svg{
        align-self: center;
        width: 45vw;
        height: 55%;     
    }
    .othersvgs{
        align-self: start;
        margin-top: 0px;
        margin-right: 0px;
        width: 400px;
        height: 250px;
    }
    .breakingword{
       
        color: #FFFFFF;
      }
      .shalfword{
          margin-left: 0;
          color: #FFFFFF;
      }
      .headerbutton{
          width: 100px;
          height: auto;
      }
      .othersvgs{
        align-self: center;
        margin-top: 40px;
        margin-right: 40px;
        width: 400px;
        height: 300px;
    }
  
   
}
@media (max-width: 600px) {
    .bod{
        width:max-content
    }
    .root{
        flex-direction: column;
        background-color: var(--black);
         
    }
    .fcard{
         width:100%;
        height: auto;
        margin-top: 1em;
        background-color:var(--black);
        padding: 1em 0em 1.5em 1.5em;
    }
    .scard{
        width: 100%;
        height: 100%; 
    }
    .header{
        justify-content: space-between;
        padding: 0em 0em 0em 0em;
        color: #FFFFFF;
    }
    .scrolheader{
        justify-content: space-between;
        padding: 0em 0em 0em 0em; 
    }
  
    .title{
     margin: 0.5em 0em 0em 0em;    
    align-self: center;
    font-size: 4em;
    color: #FFFFFF;
    }
    .subtitle{
        margin: 1em 0em 1em  0em;
        font-weight: 300;
        font-size: 2.5em;
        align-self: center;
        color: #FFFFFF;
    }
    .button{  
        margin: 1em 0em 1.5em  0em;
        align-self: center;
    }
    .headername{
        font-size: 3.5em;
        color: #FFFFFF;
    }
    .blackicon{
        font-size: 1.5em;
        color: #000000;
    }
    .svg{
        align-self: center;
        width: 75vw;
        height: 60%;     
    }
    .othersvgs{
        align-self: center;
        margin-top: 0px;
        margin-right: 0px;
        width: 450px;
        height: 400px;  
    }

    .secondfcard{
        width:100vw;
        height: auto;
        margin-top: 1em;
        color: var(--black); 
    }
    .secondpage{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height:auto;
        background-color: #f8f8f8;
          
    }
    .whattext{
        background-color:#000000;
        width:100%;
    }
    .lasttext{
        margin-top: 10px; 
        margin-left:0px;
        align-self:flex-end;
        width: 80vw;
        
        
    }

}
@media (max-width: 400px) {
    .bod{
        width:100%;
        background-color: var(--black);
        height: 100%;
    }
    .root{
        flex-direction: column;
        background-color: var(--black);
         width:100vw
    }
    .title{
        margin: 0em 0em 0em 0em;    
       align-self: center;
       font-size: 2em;
       color: #FFFFFF;
       }

       .subtitle{
           margin: 0em 0em 0em  0em;
           font-weight: 300;
           font-size: 1.5em;
           align-self: center;
           color: #FFFFFF;
       }
       .button{  
        margin: 1em 0em 1.5em  0em;
        align-self: center;
    }
    .headername{
        font-size: 3.5em;
        color: #FFFFFF;
    }
    .blackicon{
        font-size: 1.5em;
        color: #000000;
    }
    .svg{
        align-self: center;
        width: 75vw;
        height: 50%;     
    }
    .othersvgs{
        align-self: center;
        margin-top: 0px;
        margin-right: 0px;
        width: 200;
        height: 260px;  
   
}
}