$imagedir: '../public';

@mixin background-image($img,$background-color, $background-position) {
 background-image: url('#{$imagedir}/#{$img}');
 background-repeat: no-repeat;
 background-position: $background-position;
 background-size:cover;
 background-color: $background-color;
 //background-size: 100% 100%;
}
.root{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100vw;
  height: 100vh;
  background: #f1f8f5;
 //@include background-image('chess-board-min.png',#0f0f0f,right bottom)
}
.titlediv{
   // padding-left: 2em;  
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
}
.title{
    font-size: 4.5em;
    align-self: center;
  //  color: var(--secondary);
   margin-top: 2em;
    font-weight: 700;
    font-family: 'Barlow ', sans-serif;
}
.subtitle{
   // margin-top: 2em;
    width: 30vw;
    font-weight: 400;
    font-size: 2em; 
    text-align: center;
     //color: #dbf6e9;
       color: #3e474d;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 2em ; 
}
// .pageheader{
//    background-color: var(--white);
//    border: 1px solid var(--secondary) ;
// }
.svg{
    margin-top: 350px;
    width: 570px;
    height: auto;   
}
.nextpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: auto;
    padding: 2em;
    //background-color: #f9f3f3;
}
.textdiv{
    margin: 100px 0px 0px 300px;
    width: 40vw;
    align-self: center;
}
.adcard{
    display: flex;
    width: 50vh;
    background-color: #000000;
}

.othertitles{
    margin: 1em 1em 1em 1em;
    font-size: 2.5em;
     margin-left: 2em;
    // color: #ffffff;
}
.othersubtitles{
    font-size: 1.8em;
    font-weight: 350;
    margin-left: 2em;
    margin-right: 2.5em;
    width: 40vw;
    //color: #ffffff;
}
.svgcontainer{
    width: max-content;
    height: 50%;
    box-shadow: 10px 10px 10px #ececec;
    border-radius: 15px;
    background: #ffffff;
    border-top: 1px solid #e9e7e7;
    border-left: 1px solid #dad7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 2em;
}
.othersvg{
    margin-top: 0px;
    width: 20vw;
    height: auto; 
}
.cards{
    display: flex;
    margin: 1em 0em 1em 0em;
}
.learnmorebtn{
    background-color: var(--secondary);
    color:#FFFFFF;
    width:170px;
    height: 40px;
    align-self: center;
}
@media (max-width: 768px) {
    .root{
        justify-content: center;
        height: auto;
        padding-bottom: 3em;
           //@include background-image('chess-board-min.png', #f4f9f9, right bottom )
         }
    //    .titlediv{
    //        margin-left: 0px;
    //      height: inherit; 
    //    }
     
    //    .title{
    //        margin: 5em 1em 0em 1em;
    //        font-size: 3em;
    //        font-weight: 700;
    //        font-family: 'Barlow', sans-serif;
    //    }
    //         .othertitles{
    //         margin: 1em 1em 1em 1em;
    //         font-size: 2em;
    //         // color: #ffffff;
    //     }
        .othersubtitles{
            font-size: 1.5em;
            font-weight: 350;
            //margin-left: 2em;
            margin-right: 2em;
            width: auto;
            //color: #ffffff;
        }
        .othersvg{
            margin-top: 0px;
            width: 40vw;
            height: auto; 
        }
        .subtitle{
    //     margin-left: 1em;
    //     margin-top: 2em;
           width: 70vw;
          }
        .svgcontainer{
            width: max-content;
            height: 70%;
            box-shadow: 10px 10px 10px #ececec;
            border-radius: 15px;
            background: #ffffff;
            border-top: 1px solid #e9e7e7;
            border-left: 1px solid #dad7d7;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2em;
        }
      
    }


@media (max-width: 425px) {
    .root{
        display: flex;
        flex-direction: column;
       
        //@include background-image('chess-transparent-min.png', #123d4b ,right bottom )
      }
    .svg{
        margin-top: 50px;
        width: 400px;
        height: 400px;   
        padding-left: 1em;
    }
    .titlediv{
        
    }
    
    .title{
       text-align: center;
      align-self: center;
      margin-top: 0.5em;
       
    }
    // .subtitle{
    //     margin-top: 0em;
    //     align-content : center;
    //     margin-left: 1em;
    //     width: auto;
    //     font-weight: 600;
    //     font-size: 3em; 
    //     color: #f4f9f9;
    //     font-family: 'Barlow Condensed', sans-serif; 
    // }
    .othertitles{
        margin: 1em 1em 0em 1em;
        font-size: 1.8em; 
    }
    .othersubtitles{
        margin: 0em 1em 1em 1.8em;
        font-size: 1.2em;
        font-weight: 350; 
        width: auto;
    }
    .nextpage{
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 2em 1em 2em 1em;
        justify-self: flex-start;
        align-items: flex-start;
    }
    .textdiv{  
        align-self: flex-start;
        
    }
    
    .othersvg{
        margin-top: 0px;
        width: 60vw;
        height: 40vh; 
    }

    .svgcontainer{
        width: auto;
        height: auto;
        box-shadow: 10px 10px 10px #ececec;
        border-radius: 15px;
        background: #ffffff;
        border-top: 1px solid #e9e7e7;
        border-left: 1px solid #dad7d7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0em;
    }
    .cards{
        display: flex;
        flex-direction: column;
        margin: 1em 0em 1em 0em;
    }
}